@font-face {
    font-family: NEXON Gothic Bold;
    src: url(https://rs.nxfs.nexon.com/nxlogin/fonts/NEXON%20Lv1%20Gothic%20OTF%20Bold.eot);
    src: url(https://rs.nxfs.nexon.com/nxlogin/fonts/NEXON%20Lv1%20Gothic%20OTF%20Bold.eot#iefix) format("embedded-opentype"),url(https://rs.nxfs.nexon.com/nxlogin/fonts/NEXON%20Lv1%20Gothic%20OTF%20Bold.woff) format("woff");
    font-weight: 400
}

@font-face {
    font-family: pass;
    font-style: normal;
    font-weight: 400;
    src: url(https://rs.nxfs.nexon.com/nxlogin/fonts/pass.woff) format("woff")
}

@font-face {
    font-family: NotoSansKRRegular;
    src: url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRRegular.eot);
    src: url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRRegular.eot#iefix) format("embedded-opentype");
    src: url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRRegular.otf);
    src: url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRRegular.otf) format("OpenType"),url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRRegular.ttf) format("truetype"),url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRRegular.woff) format("woff")
}

@font-face {
    font-family: NotoSansKRBold;
    src: url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRBold.eot);
    src: url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRBold.eot#iefix) format("embedded-opentype");
    src: url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRBold.otf);
    src: url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRBold.otf) format("OpenType"),url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRBold.ttf) format("truetype"),url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRBold.woff) format("woff");
    font-weight: 700
}

@font-face {
    font-family: NotoSansKRMedium;
    src: url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRMedium.eot);
    src: url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRMedium.eot#iefix) format("embedded-opentype");
    src: url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRMedium.otf);
    src: url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRMedium.otf) format("OpenType"),url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRMedium.ttf) format("truetype"),url(https://rs.nxfs.nexon.com/nxlogin/fonts/NotoSansKRMedium.woff) format("woff")
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,button,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input[type=password],input[type=text],ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    touch-action: manipulation
}

ol,ul {
    list-style: none
}

html {
    width: 100%;
    height: 100%;
}



body{
    color: #17191d;
    font: 12px NotoSansKRRegular,malgun gothic,"sans serif"
}

.body {
    position: fixed;
    margin-left: 35%;
    width: 30%;
    height: 100%;
    justify-content: center;
    line-height: normal;
}

button {
    cursor: pointer
}

b,strong {
    font-weight: 700
}

a {
    color: #17191d;
    text-decoration: none
}

.logo {
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 70px;;
}

.logo .logo_img {
    height: 100px;
}

.tab {
    padding-top: 50px;
    text-align: center
}

.tab .onceLogin {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 15px;
}
.tab .nexonLogin {
    
}

.tab .qrLogin {
    text-align: right;
}

.headerMsg {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 23px;
        font-size: 12px;
        color: #fff;
        background-color: #17191d;
        z-index: 1000
}

.headerMsg strong {
    margin-right: 5px
}
.headerMsg {
    text-align: center;
    
}

.otpLoginMsg {
    letter-spacing: -.6px;
    text-align: center;
    color: #737881
}

.otpLoginMsg {
    padding-bottom: 40px
}

.otpLoginMsg a {
    font-weight: 700;
    color: #737881;
    text-decoration: underline
}

.header {
    min-width: 328px;
    padding-top: 120px;
    text-align: center
}

.header .logo {
    display: inline-block;
    margin: 0 auto;
    width: 120px;
    height: 20px
}


.otpLogin {
    padding-top: 40px
}

.otppass {
    height: 68px
}

.otppass input {
    width: 100%;
    height: 56px;
    padding: 18px 12px;
    border: 1px solid #e5e8eb;
    background-color: #fff;
    font-size: 16px;
    font-weight: 700;
    outline: 0;
    transition: border-color .15s linear
}

.otppass input::placeholder{
    font-weight: 400;
    color: #c7c8cc;
    opacity: 1
}

.otppass div {
    float: left;
    width: 50%
}

.otppass .otppass2 {
    padding-left: 4px
}

.btLogin button {
    width: 100%;
    height: 60px;
    font-size: 18px;
    font-family: NEXON Gothic Bold;
    color: #fff;
    background-color: #17191d;
    transition: all .15s linear
}

.otpLogin .btLogin {
    padding-top: 18px
}

.optGuide,.qrGuide {
    position: relative;
    padding-top: 20px;
    margin-top: 68px;
    border-top: 1px solid #e5e8eb
}

.optGuide ol,.qrGuide ol {
    padding-top: 10px
}

.optGuide li,.qrGuide li {
    line-height: 1.67;
    letter-spacing: -.6px;
    text-align: left;
    color: #9fa1a7
}

.optGuide a,.qrGuide a {
    position: absolute;
    top: 20px;
    right: 0;
    letter-spacing: -.6px
}
